node_modules/
variables.env
now.json
react-refactor/backend/.env
react-refactor/backend/node_modules/
react-refactor/frontend/node_modules/
react-refactor/frontend/config.js
react-refactor/frontend/.next/